@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:300,400,400i,700|Rock+Salt|Lato');

// FONTS
$font-handwriting: 'Rock Salt', Impact, 'Comic Sans', cursive;
$font-sans: 'Fira Sans', Helvetica, sans-serif;
$font-mono: 'Fira Mono', 'Lucida Console', monospace;
$font-paragraph: 'Lato', Helvetica,sans-serif;

// COLORS
$mako: #3d434c;
$golden-fizz: #f8f32b;
$gallery: #ededed;
$white: #fefefe;
$cod-gray: #111111;
$astronaut-blue: #003d5b;

// BREAKPOINTS
$desktop: 70em;
$laptop: 64em;
$tablet: 50em;
$phablet: 37.5em;
$phone: 28em;
